
body {
    background-color: #DBDCDE;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    max-height: 100%;
}

/*  My name */
header {
    height: 15%;
}

#name-container {
    position: relative;
    top: 50%;
    text-align: center;
    /*color: rgb(145, 110, 59);*/
    color: black;
    font-size: xx-large;
    font-family: 'Poiret One';
}

/*  the site's navigation mechanishm used by clicking on shapes */
#shape-container {
    height: 65%;
    overflow: hidden;
}

.shape {
    position: absolute; 
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    margin: auto;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom: 300px solid blanchedalmond;
    transform: skew(-30deg);
}

.parellelogram {
    height: 295px;
    width: 250px;
    transform: skew(30deg);
}

.red {
    background-color: rgba(231, 34, 41, .8);
    left: -300px;
}

.blanchedalmond {
    /*colour set in triangle due to being part of borders*/
    left: 0px;
    z-index: 5;
}

.blue {
    background-color: rgba(61, 93, 170, .8);
    left: 100px;
}

.yellow {
    background-color: rgba(251, 193, 24, .8);
    left: 300px;
}

/*  contact info and prescence on other sites */
footer {
   height: 20%;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.icon { 
    vertical-align: bottom;
}

img {
    /* reduce to appropriate image size */
    max-width:20%;
    height: auto;
    /* centre image vertically and horizontally */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#email {
    grid-column: 1 / span 1;
    opacity: .8;
}

#git {
    grid-column: 2 / span 1;
    opacity: .8;
}

#linkedin {
    grid-column: 3 / span 1;
    opacity: .8;
}